generated
target
pod_example/Pods/
pod_example/Opacity.xcworkspace/
pod_example/Opacity/.env
spm_example/test_app/.env
.DS_Store
.build
**/*.xcuserdatad
# opacity.xcframework
opacity-debug.xcframework
opacity-ios/spm_example/test_app/.env
pod_example/build